
#root{
	margin-top: 10px;
}

.carousel{
	margin-left: .1rem;
	padding-right: 0;
}

.Carousel-img{
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	min-height: 240px;
	width: 100%
}

.carousel-caption {
	top: 15px;
	left: 0;
	bottom: 100%;
	width: 40%;

}

.frame-container{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.playerframe{
	position: absolute;
 	top: 0;
 	left: 0;
 	border: 0;
 	width: 100%;
 	height: 100%;
	border: none;
	background-color: black;
	color: white;
}

.row form{
	margin: 0;
}

.link-img {
	display: inline-block;
}

#search{
	border-style: solid;
	border-color: #303030;
	background-color: #303030;
	border-radius: 0.2rem;
	color: white;
	padding-top: 0.45rem;
	padding-bottom: 0.45rem;
	align-items:flex-start;
	margin-left: .1rem;
}
.nav-button{
	border-style: solid;
	background-color: #303030;
	border-color: #121212;
	border-radius: 0.2rem;
	color: white;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	border: 0.1rem;
	border-style: solid;
	border-color: transparent;
	margin-left: 0.25rem;
}
.nav-button:hover{
	color: white;
	background-color: #606060;
	text-decoration: none;
}

body {
	background-color: #121212;
}
.home-button{
	border-radius: 0.2rem;
	border: 0.1rem;
	border-style: solid;
	text-align: center;
	border-color: #121212;
	color: white;
	background-color: #303030;
	margin-left: 1.5rem;
	padding-left: .55rem;
}
.home-button:hover{
	color: white;
	background-color: #606060;
}
.navbar-home{
	margin-bottom: .5rem;
	max-width: 100%;
}
.carousel{
	background-color: #303030
}
.page-wrapper{
	max-width: 100%;
}
.search-suggestions-container{
	background-color: #303030;
	min-width: 100.5%;
}
.search-result{
	max-width:72.4%;
}

.uploadTip{
	margin-top: .5rem;
	margin-left: -1rem;
	padding: .3rem;
	position: absolute;
	border-radius: 0.25rem;
	border: 0.1rem;
	border-style: solid;
	border-color: #121212;
	background-color: #606060;
	color: white;
}

.upload{
	background-color: #121212;
	color: white;
}
.upload-input{
	display: flex;
	background-color: #121212;
	color: white;
}
